node_modules
.env
uploads/*
!uploads/.gitkeep
!uploads/musique1.mp3
!uploads/musique2.mp3
!uploads/musique3.mp3
!uploads/musique4.mp3
!uploads/musique5.mp3

imageUploads/*
!imageUploads/.gitkeep
!imageUploads/description.jpg
!imageUploads/presentation.jpg

